{
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": ["error", {
      "allowAfterThis": true,
      "allow": ["_id"]
    }],
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "linebreak-style": ["error", "windows"],
    "class-methods-use-this": ["error", { "exceptMethods": ["_parseResponse", "_checkResponse" ] }],
    "jsx-a11y/label-has-associated-control": [ "error", {
      "required": {
        "some": [ "nesting", "id"  ]
      }
    }],
    "jsx-a11y/label-has-for": [ "error", {
      "required": {
        "some": [ "nesting", "id"  ]
      }
    }]
  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "globals": {
    "fetch": true
  }
}