.promo {
    min-height: 304px;
    background-color: #DDDEE3;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 75px 70px 0px;
    box-sizing: border-box;
}

.promo__container {
    text-align: left;
}

.promo__title {
    font-size: 50px;
    line-height: 58px;
    max-width: 640px;
    margin: 0px;
}

.promo__description {
    font-size: 13px;
    line-height: 16px;
    opacity: 0.5;
    margin: 36px 0px 0px;
}

.promo__logo {
    background-image: url('../../images/promo-logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 310px;
    height: 304px;
}