.header__wrapper_page_landing {
  background-color: #dddee3;
}

.header__wrapper_page_main {
  background-color: #fafafa;
}

.header {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  min-height: 74px;
  padding: 0px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__login-link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 20px;
  margin-left: 14px;
  background-color: #3456f3;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: opacity 350ms ease;
  -o-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
}

.header__login-link:hover {
  opacity: 0.8;
}

.header__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  margin: 0 17px 0 0;
  cursor: pointer;
  -webkit-transition: opacity 350ms ease;
  -o-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
}

.header__link:hover {
  opacity: 0.8;
}

.header__logo {
  width: 38px;
  height: 38px;
  margin: 2px 28px 0 0;
}

.header-link_selected {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0px 30px;
    min-height: 77px;
  }

  .header__container {
    margin-top: -4px;
  }
}

@media screen and (max-width: 480px) {
  .header__wrapper {
    min-width: 320px;
  }

  .header {
    padding: 0px 14px;
    min-height: 77px;
  }

  .header__container {
    margin-top: -4px;
  }

  .header__login-link {
    font-size: 10px;
    line-height: 16px;
    padding: 7px 12px;
    margin-left: -3px;
  }

  .header__register-link {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
  }
}