.about-project {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  box-sizing: border-box;
  padding: 110px 70px 95px;
  text-align: start;
}

.about-project__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000000;
  padding-bottom: 23px;
  margin: 0 0 70px;
}

.about-project__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

.about-project__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0 0 26px;
}

.about-project__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 110px;
}

.diagramma {
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: center;
}

.diagramma__cell {
  padding: 10px;
  background-color: #f2f2f2;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

.diagramma__cell_side_left {
  padding: 10px;
  background-color: #3456f3;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin: 0;
}

.diagramma__caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
}