.footer {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  box-sizing: border-box;
  padding: 56px 70px 0;
  text-align: start;
}

.footer__about-project {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  margin: 12px 0 4px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.footer__links {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
}

.footer__links-item {
  margin-right: 20px;
}

.footer__links-item:last-of-type {
  margin-right: 0;
}

.footer__link {
  border-style: none;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
