.login {
  max-width: 396px;
  min-width: 260px;
  margin: auto;
  padding: 70px 0;
}

.login__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 36px 0 40px;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__input-title{
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.login__input {
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: inherit;
  border-bottom: 1px solid #e8e8e8;
  padding: 6px 0 9px;
}

.login__input:focus {
  font-weight: 500;
  outline: none;
  border-bottom:1px solid #3456f3;
}

.login__input:invalid {
  color: #EE3465;
  box-shadow: none;
}

.login__input:-moz-submit-invalid {
  color: #EE3465;
  box-shadow: none;
}

.login__input:-moz-ui-invalid {
  color: #EE3465;
  box-shadow: none;
}

.login__input-error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  display: block;
  margin-top: 5px;
  min-height: 20px;
  pointer-events: none;
  visibility: hidden;
}

.login__input-error_visible {
  visibility: visible;
}

.login__signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: -45px;
}

.login__button {
  width: 100%;
  background-color: #3456f3;
  border: none;
  border-radius: 3px;
  padding: 14px 18px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  margin-top: 196px;
}

.login__button:hover {
  opacity: 0.8;
}

.login__link-title {
  margin: 17px 3px;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
}

.login__register-link {
  margin: 17px 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #3456F3;
  text-decoration: none;
}

.login__register-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .login {
    padding: 232px 0;
  }
}

@media screen and (max-width: 480px) {
  .login {
    padding: 56px 30px;
    text-align: center;
  }

  .login__form {
    text-align: start;
  }

  .login__title {
    margin: 47px 0 80px;
  }

  .login__button {
    margin-top: 284px;
    font-size: 12px;
    line-height: 15px;
    padding: 15px 18px;
  }

  .login__link-title {
    font-size: 12px;
    line-height: 15px;
    margin: 15px 3px;
  }

  .login__register-link {
    font-size: 12px;
    line-height: 15px;
    margin: 15px 3px;
  }
}